<div class="container">
  <br>
  <h1 class="text-center">Welcome to the dashboard</h1>
  <br>
  <h2>My reservations</h2>
  <br>
  <ul>
  <% @bookings.each do |booking| %>
    <% the_offer = booking.offer %>
    <% the_user = the_offer.user %>
    <li>Your <%= the_offer.name %> Session with <%= the_user.first_name %> is booked on <%= booking.date.strftime("%d-%m-%Y") %></li>
  <% end  %>
  </ul>
  <br>
  <%= link_to "back", offers_path, class: "btn btn-secondary" %>
</div>
