<div class="container">
  <br>
  <h1 class="text-center">Welcome for a Relaxation Session</h1>
</div>
<br>
<div class="container">
  <div class="justify-content-around">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('Meditation')%>)">
        Meditation
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('Massage')%>)">
        Massage
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('Yoga')%>)">
        Yoga
      </div>
    </div>
  </div>
</div>
