
<ul>
  <% @offers.each do |offer| %>
    <li><%= offer.name %></li>
    <%= link_to "Details", offer_path(offer) %>
  <% end %>
</ul>

<% if policy(Offer).new? %>
  <%= link_to 'New Offer', new_offer_path %>
<% end %>
